{
  "cust_data": [
    {
      "na": "FacebookLite",
      "pkg": "com.facebook.lite",
      "path": "/system/prebuilts/app_region/FacebookLite/FacebookLite.apk",
      "ex":"KP,SD,SY,IR,CU"
    },
    {
      "na": "GlobalMiShop",
      "pkg": "com.mi.global.shop",
      "path": "/system/prebuilts/app_region/GlobalMiShop/GlobalMiShop.apk",
      "in":"IN,HK,TW,ES,FR,ID,RU"
    },
    {
      "na": "BBS_MSITE",
      "pkg": "com.mi.global.bbs",
      "path": "/system/prebuilts/app_region/BBS_MSITE/BBS_MSITE.apk",
      "in":"IN,ID,VN,TH,RU,UA,SG,PH,EG,SA,AE,IT,FR,PL,UK,TR,MX,ES,BD"
    },
    {
      "na": "AmazonShopping",
      "pkg": "in.amazon.mShop.android.shopping",
      "path": "/system/prebuilts/app_region/AmazonShopping/AmazonShopping.apk",
      "in":"IN"
    }
  ]
}
